{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>账单管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    财务管理
	<span class="c-gray en">&gt;</span>
	<a href="{:url('admin/Account/index')}">账号管理</a>
	<span class="c-gray en">&gt;</span>
	账单
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><button onclick="javascript:history.go(-1);" class="btn btn-success radius" type="button"> 返回</button> </span><span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr><th colspan="10">&nbsp;&nbsp;商户(已入账)总收入：{$totalMoney}</th></tr>
				<tr class="text-c">
					<th width="100">入账时间</th>
					<th width="100">应出账时间</th>
					<th >商户名称</th>
					<th width="80">出账金额</th>
					<th width="100">户名</th>
					<th width="140">开户行</th>
					<th width="140">卡号</th>
					<th width="50">是否付账</th>
					<th width="50">账单状态</th>
					<th width="50">账单明细</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo"}
				<tr class="text-c">
					<td>{$vo.inTime|date="Y-m-d",###}</td>
					<td>{$vo.outTime|date="Y-m-d",###}</td>
					<td>{$vo.shopName}</td>
					<td>{$vo.money}</td>
					<td>{$vo.bankUserName}</td>
					<td>{$vo.bankName}</td>
					<td>{$vo.bankCard}</td>
					<td>{if condition="$vo.isOff==1"}是{else /}否{/if}</td>
					<td>{if condition="$vo.status==2"}已处理{elseif condition="$vo.status==1"/}待处理{else /}未处理{/if}</td>
					<td><a style="text-decoration:none"  href="{:url('admin/Account/billDetail',['id'=>$vo['id']])}" title="账单明细"><i class="Hui-iconfont">&#xe63a;</i></a></td>
				</tr>
				{/volist}
				{else /}
                <tr class="text-c">
                    <td colspan="10">暂无数据</td>
                </tr>
                {/if}
				<tr class="text-c">
					<td colspan="10" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
{/block}
</body>
</html>