{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>账单管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    财务管理
	<span class="c-gray en">&gt;</span>
	<a href="{:url('admin/Account/index')}">账号管理</a>
	<span class="c-gray en">&gt;</span>
	账单明细
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><button onclick="javascript:history.go(-1);" class="btn btn-success radius" type="button"> 返回</button> </span><span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="30">序号</th>
					<th >订单号</th>
					<th width="130">课程名称</th>
					<th width="80">订单金额</th>
					<th width="80">推荐人返现</th>
					<th width="80">顾问返现</th>
					<th width="80">用户返现</th>
					<th width="100">结算金额</th>
					<th width="80">手续费</th>
					<th width="120">签约时间</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo" key="k"}
				<tr class="text-c">
					<td>{$k}</td>
					<td>{$vo.orderNo}</td>
					<td>{$vo.name}</td>
					<td>{$vo.money}</td>
					<td>{$vo.referrerMoney}</td>
					<td>{$vo.adviserMoney}</td>
					<td>{$vo.userMoney}</td>
					<td>{if condition='$vo.isAgain==2'}{$vo.shopTwo*0.994|round=2}{else /}{$vo.shopOne*0.994|round=2}{/if}</td>
					<td>{if condition='$vo.isAgain==2'}{$vo.shopTwo*0.006|round=2}{else /}{$vo.shopOne*0.006|round=2}{/if}
					</td>
					<td>{$vo.signDate|date="Y-m-d H:i",###}</td>
				</tr>
				{/volist}
				{else /}
                <tr class="text-c">
                    <td colspan="10">暂无数据</td>
                </tr>
                {/if}
				<tr class="text-c">
					<td colspan="10" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
{/block}
</body>
</html>