{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>账号管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    财务管理
	<span class="c-gray en">&gt;</span>
	账号管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
        <input type="text" name="" id="shopsName" placeholder="商户名称" style="width:250px" class="input-text"
               value="{if(isset($shopsName))}{$shopsName}{/if}">
        <button name="" id="button" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
        </button>
    </div>
	{in name='1' value='$actionType'}
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="{:url('admin/Account/add')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加商户账号</a></span><span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></div>{/in}
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="50">序号</th>
					<th >商户名称</th>
					<th width="150">户名</th>
					<th width="100">开户行</th>
					<th width="140">卡号</th>
					<th width="60">类型</th>
					<th width="60">出账天数</th>
					<th width="100">
						<select id="useStatus" style='border:0;background:  #f5fafe none repeat scroll 0 0;'>
						  <option value="0" {eq name="$status" value='0'}selected='selected'{/eq}>状态</option>
						  <option value="5" {eq name="$status" value='5'}selected='selected'{/eq}>待上架</option>
						  <option value="1" {eq name="$status" value='1'}selected='selected'{/eq}>已上架</option>
						  <option value="2" {eq name="$status" value='2'}selected='selected'{/eq}>已下架</option>
					</select>
					</th>
					<th width="50">账单</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo" key="k"}
				<tr class="text-c">
					<td>{$k}</td>
					<td class="text-l">{$vo.name}</td>
					<td>{$vo.bankUserName}</td>
					<td>{$vo.bankName}</td>
					<td>{$vo.bankCard}</td>
					<td>{eq name="vo.bankType" value="1"}对公{else /}私人{/eq}</td>
					<td>{$vo.time}</td>
					<td>{if condition="$vo.status==1"}已上架{elseif condition="$vo.status==2"/}已下架{else /}待上架{/if}</td>
					<td><a style="text-decoration:none"  href="{:url('admin/Account/bill',['id'=>$vo['id']])}" title="账单"><i class="Hui-iconfont">&#xe687;</i></a></td>
					<td class="f-14 product-brand-manage">
					{in name='2' value='$actionType'}
					<a style="text-decoration:none"  href="{:url('admin/Account/edit',['id'=>$vo['id']])}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
					{/in}{in name='3' value='$actionType'}
					<a style="text-decoration:none" class="ml-5" href="{:url('admin/Account/del',['id'=>$vo['id']])}" onclick="return confirm('删除须谨慎，确认要删除吗？')" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>{/in}</td>
				</tr>
				{/volist}
				{else /}
                <tr class="text-c">
                    <td colspan="10">暂无数据</td>
                </tr>
                {/if}
				<tr class="text-c">
					<td colspan="10" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('#button').click(function () {
        if ($('#shopsName').val() == '') {
        	layer.msg('请填写商户名称!',{icon:2,time:2000});
            return false;
        }
        window.location.href = "/admin/Account/index?shopsName=" + $('#shopsName').val()+"&status="+$('#useStatus').val();
    });
    $('#useStatus').on('change',function(){
		window.location.href= "/admin/Account/index?status="+$('#useStatus').val()+"&shopsName="+$('#shopsName').val();
	  })
</script>
{/block}
</body>
</html>