{extend name="layout" /}
{block name="body"}
<title>添加礼品</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    女王权杖管理
	<span class="c-gray en">&gt;</span>
	<a href="{:url('admin/VipFree/index')}">礼品管理</a>
	<span class="c-gray en">&gt;</span>
	添加礼品
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<article class="page-container">
	<form class="form form-horizontal" action='' enctype="multipart/form-data" method='post' onsubmit='return checks()'>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>礼品名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="name" name="name">
		</div>
	</div>
	
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>列表图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<img style="display: none;width: 100px;height: 100px;" src="" alt="" class="thumbnail" id="listImgUrl">
				<input type="file" name="listImg" id="listImg"><span class='c-red'>推荐尺寸:300*300</span></div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>领取等级：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal radioType">
			<div class="radio-box">
				<input name="status" value='2' type="radio" id="status-1" checked>
				<label for="status-1">二级及以上</label>
			</div>
			<div class="radio-box">
				<input type="radio" value='1' id="status-2" name="status">
				<label for="status-2">一级及以上</label>
			</div>
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>有效天数：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text"  placeholder="20" id="validity" name="validity" style="width:90%">&nbsp;&nbsp;&nbsp;天
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>说明介绍：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="explains" id="explains" cols="" rows="" class="textarea"  placeholder="说点什么..."></textarea>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>郑重承诺：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="vipPromesse" id="vipPromesse" cols="" rows="" class="textarea"  placeholder="说点什么..."></textarea>
		</div>
	</div>
	
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>详情内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<!-- <script id="editor" type="text/plain"></script> -->
				<textarea name="content" id="container"></textarea> 
			</div>
	</div>

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<button type="submit" class="btn btn-success radius"><i class="icon-ok"></i> 确定</button>
			<button onclick="javascript:history.go(-1);" class="btn btn-default radius" type="button"> 返回</button>
		</div>
	</div>
	</form>
</article>
{/block}

{block name="script"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
	var ue = UE.getEditor('container');

$(function(){
	function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    $('#listImg').change(function () {
        var objUrl = getObjectURL(this.files[0]);
        if (objUrl) {
            $("#listImgUrl").attr("src", objUrl);
            $("#listImgUrl").show();
        }
    });

	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
});
function checks(){
	  if($("#name").val()==''){
	     layer.msg('礼品名称必填！',{icon:2,time:2000});
	     return false;
	  }
	  if($("#listImg").val()==''){	  	
	     layer.msg('请上传列表图片!',{icon:2,time:2000});
	     return false;
	  }
	  if($("#validity").val()==''){	  	
	     layer.msg('有效天数必填!',{icon:2,time:2000});
	     return false;
	  }
	  if($("#explains").val()==''){	  	
	     layer.msg('说明介绍必填!',{icon:2,time:2000});
	     return false;
	  }
	  if($("#vipPromesse").val()==''){	  	
	     layer.msg('郑重承诺必填!',{icon:2,time:2000});
	     return false;
	  }
	  if(ue.getContent()==''){	  	
	     layer.msg('详情必填!',{icon:2,time:2000});
	      return false;
	  }
	  
	  return true;
	}
</script>
{/block}
</body>
</html>