{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>分配顾问日志</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 顾问管理 <span class="c-gray en">&gt;</span> 分配顾问日志 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">		
	<div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l">
	<a href="/school/Adviser/distribute" class="btn btn-success radius" type="button"> 返回</a>&nbsp;&nbsp;&nbsp;&nbsp;
	顾问搜索：
	<select id='selAdviserId' style='border:0;background:white none repeat scroll 0 0;'>
	  <option value="0" >选择顾问</option>
	  {if($advises)}{volist name="advises" id="vo"}					
	  <option value="{$vo.id}" {if condition="($vo.id == $adviserId)"}selected='selected'{/if}>{$vo.name}</option>
	  {/volist}{/if}
	</select>
	</span><span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></div>
   <div class="mt-20">
	<table class="table table-border table-bordered table-bg table-admin">
		<thead>
			<tr class="text-c">	
				<th width="80">序号</th>
				<th width="140">备注信息</th>
				<th width="100">原顾问</th>
				<th width="100">替换顾问</th>
				<th width="100">操作人</th>				
				<th width="120">创建时间</th>								
			</tr>
		</thead>
		<tbody>
	   {if($lists['data'])}{volist name="lists.data" id="vo" key="k"}
			<tr class="text-c">	   			
	   			<td >{$k}</td>
				<td>{$vo.content}</td>
				<td>{$vo.oldAdviser}</td>
				<td>{$vo.newAdviser}</td>				
				<td>{$vo.doAdmin}</td>				
				<td>{$vo.createTime|date='Y-m-d H:i:s',###}</td>			
			</tr>
	   {/volist}
	   {else /}
            <tr class="text-c">
                <td colspan="6">暂无数据</td>
            </tr>
            {/if}
			<tr class="text-c">
				<td colspan="6" style="text-align: center;">
				{$page}
				</td>
			</tr>	   
		</tbody>
	</table>
  </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$('#selAdviserId').on('change',function(){
		var id=$('#selAdviserId').val();
		// if(id==0){
		// 	layer.msg('请选择分配的顾问!',{icon:2,time:2000});
		// 	return false;
	 //    }
        window.location.href="/school/Adviser/adviserLogs?adviserId="+id;
 });
</script>
{/block}
</body>
</html>