{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>顾问管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 顾问管理 <span class="c-gray en">&gt;</span> 顾问列表管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
        <input type="text" name="" id="phone" placeholder="手机号" style="width:250px" class="input-text" value="{if(isset($phone))}{$phone}{/if}">
        <button name="" id="adviserButton" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
        </button>
    </div>	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" class="btn btn-primary radius" onclick="addAdviser('添加顾问','{:url(\'school/Adviser/add\')}')"><i class="Hui-iconfont">&#xe600;</i> 添加顾问</a></span><span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></div>
   <div class="mt-20">
	<table class="table table-border table-bordered table-bg table-admin">
		<thead>
			<tr class="text-c">	
				<th width="80">序号</th>
				<th width="100">顾问昵称</th>
				<th width="140">手机号</th>				
				<th width="120">创建时间</th>
				<th width="120">操作</th>
			</tr>
		</thead>
		<tbody>
	   {if($lists['data'])}{volist name="lists.data" id="vo" key="k"}
			<tr class="text-c">	   			
	   			<td >{$k}</td>
				<td>{$vo.name}</td>
				<td>{$vo.phone}</td>
				<td>{$vo.createTime|date='Y-m-d H:i:s',###}</td>			
				<td class="f-14">
				 <a title="编辑" href="javascript:;" onclick="editVipaddr('编辑顾问','{:url(\'school/Adviser/edit\',[\'id\'=>$vo[\'id\']])}')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
				<a style="text-decoration:none" class="ml-5 adviserDelButton" href="javascript:;" title="删除" va="{$vo['id']}"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
	   {/volist}
	   {else /}
            <tr class="text-c">
                <td colspan="6">暂无数据</td>
            </tr>
            {/if}
			<tr class="text-c">
				<td colspan="6" style="text-align: center;">
				{$page}
				</td>
			</tr>	   
		</tbody>
	</table>
  </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
/*添加顾问*/
function addAdviser(title,url){
	showAdviserIframe(title,url);
}
/*编辑顾问*/
function editVipaddr(title,url){
	showAdviserIframe(title,url);
}

function showAdviserIframe(title,url){
	layer.open({
		type: 2,
		area: ['800px', '340px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: title,
		content: url,
		end: function () {
            location.reload();               
        }
	});
}

$('#adviserButton').click(function () {
		var phone = $.trim($("#phone").val());
		var mobile = /^1[345789]{1}\d{9}$/;
        if (phone == '') {
	     	layer.msg('手机号必填!',{icon:2,time:2000});
            return false;
        }        
	  if(phone.length!=11 || !mobile.test(phone)){	  	
	     layer.msg('请填写正确手机号!',{icon:2,time:2000});
	     return false;
	  }
        window.location.href= "/school/Adviser/index?phone="+phone;
    });
$(".adviserDelButton").on('click',function(){
	var val=$(this).attr('va');
	layer.confirm('确定要删除?', {icon: 3, title:'提示'}, function(index){
		$.post("{:url('school/Adviser/del')}",{id:val},function(res){
	  		var _msg=res.msg;
	  		if(res.status=='has'){
	  			layerShowMsg(_msg,2,index); 			
	  		}else if(res.status=='ok'){
	  			layerShowMsg(_msg,1,index);
	  		}else{
	  			layerShowMsg(_msg,2,index);
	  		}
	  	})
	})    
})

function layerShowMsg(msg,type,index){
	layer.msg(msg,{icon:type,time:1200},function(){
	  		layer_close(index);
	  		window.location.href=location.href;
	});
}
</script>
{/block}
</body>
</html>