<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>课程订单</title>

    <style>
        .layui-layer-btn0 {
            background-color: red !important;
            border-color: red !important;
            color: #fff;
        }
    </style>
</head>
<body>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 团购管理
    <span class="c-gray en">&gt;</span> 团购订单列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.href = '/admin/GroupBuy/GroupBuyOrderList';" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">
    {if condition="$data['data']"}

    <div class="text-c">
        <input type="text" name="searchData" id="searchData" placeholder="订单号" style="width:250px" class="input-text"
               value="{if(isset($orderNo))}{$orderNo}{/if}">
        <button name="" id="btnSearch" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
        </button>
    </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-admin">
            <thead>
            <tr>
                <!--<th scope="col" colspan="11">团购订单列表</th>-->
                <!--<span class="r">共有数据：<strong>{$data['total']}</strong> 条</span>-->
                <div class="cl pd-5 bg-1 bk-gray mt-20">
                    <span class="l">
                        团购订单列表
                    </span>
                    <span class="r">
                        共有数据：<strong>{$data['total']}</strong> 条
                    </span>
                </div>
            </tr>
            <tr class="text-c">
                <th width="20">ID</th>
                <th width="20">用户名</th>
                <th width="20">名称</th>
                <th width="20">有效期/天</th>
                <th width="30">订单号</th>
                <th width="20">金额</th>
                <th width="20">订单状态</th>
                <th width="20">处理状态</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data['data']" id="vo" key="k"}
            <tr class="text-c">
                <td>{$k}</td>
                <td>{$vo.uName}</td>
                <td>{$vo.name}</td>
                <td>{$vo.termDay}</td>
                <td>{$vo.orderNo}</td>
                <td>
                    {if condition="($vo['type'] == 1)"}
                    {$vo.money}
                    {else/}
                    免费
                    {/if}
                </td>
                <td>{$orderStatus[$vo.status]}</td>
                <td>{$disposeStatus[$vo.isDispose]}</td>
            </tr>
            {/volist}

            {if condition="$pages"}
            <tr class="text-c">
                <td colspan="11" style="text-align: center;">
                    {$pages}
                </td>
            </tr>
            {/if}
            </tbody>
        </table>

    </div>

    {else /}
    <div style="width: 100%;text-align: center;font-size: 30px;">暂无数据</div>
    {/if}
</div>

<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script type="text/javascript">
    $('#btnSearch').on('click', function () {
        var orderNo = $('#searchData').val();
        if (!orderNo) {
            return false;
        }

        window.location.href = '/admin/GroupBuy/GroupBuyOrderList?orderNo=' + orderNo;
    });
</script>

</body>
</html>