<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>分配校区</title>

    <style>
        .layui-layer-btn0 {
            background-color: red !important;
            border-color: red !important;
            color: #fff;
        }

        #allmap {
            width: 100%;
            height: 350px;
        }

        #mapSure {
            position: absolute;
            right: 5px;
        }
    </style>
</head>

<body>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 课程管理
    <span class="c-gray en">&gt;</span> 分配校区课程
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">
    <form class="form form-horizontal" id="formSchoolAdd" method="post" enctype="multipart/form-data"
          action="/shop/Course/courseSchoolAddSave">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程名称：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$courseTemplate['name']}" placeholder="" id="name" name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程类型：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <span>{$courseTemplate['typeName']}</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课时：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <span>{$courseTemplate['classTime']}</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                价格：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$courseTemplate['money']}" placeholder="" id="money" name="money">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                开始年龄/岁：
            </label>

            <div class="formControls col-xs-3 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="startAge" name="startAge">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                结束年龄/岁：
            </label>

            <div class="formControls col-xs-3 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="endAge" name="endAge">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                选择校区：
            </label>

            <div class="formControls col-xs-4 col-sm-3">
				<span class="select-box">
				<select id="schoolId" name="schoolId" class="select">
					<option value="0">选择校区</option>
                    {volist name="schoolList" id="vo"}
					    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
				</select>
				</span>
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                列表图片：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <img style="display: none;width: 200px;height: 200px;" src="" alt="" class="thumbnail" id="listImgUrl">

                <span class="btn-upload">
                    <a href="javascript:void(0);" class="btn btn-primary-outline radius">选择图片</a>
                    <input type="file" name="listImg" class="input-file" id="listImg">
                </span>
                <span style="color: #ff0000;">&nbsp;&nbsp;推荐尺寸: 297*297</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                顶部图片：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <img style="display: none;width: 300px;height: 200px;" src="" alt="" class="thumbnail" id="topImgUrl">

                <span class="btn-upload">
                    <a href="javascript:void(0);" class="btn btn-primary-outline radius">选择图片</a>
                    <input type="file" name="topImg" class="input-file" id="topImg">
                </span>
                <span style="color: #ff0000;">&nbsp;&nbsp;推荐尺寸: 1125*528</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                是否属于老用户续费课程：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input name="isOldCustom" value='2' type="radio" id="type-1" checked>
                    <label for="type-1">否</label>
                </div>
                <div class="radio-box">
                    <input name="isOldCustom" value='1' type="radio" id="type-2" name="isStar">
                    <label for="type-2">是</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程详情：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="content" id="content" cols="30" rows="10">{$courseTemplate['content']}</textarea>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button id="btnSaveInfo" class="btn btn-primary radius" type="button">
                    <!--<i class="Hui-iconfont">&#xe632;</i>--> &nbsp;&nbsp;提交审核&nbsp;&nbsp;
                </button>
                &nbsp;
                <button id="btnGoBack" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;返回&nbsp;&nbsp;
                </button>
            </div>
        </div>

        <input type="hidden" name="classId" id="classId" value="{$Think.get.id}">
        <input type="hidden" name="classTime" id="classTime" value="{$courseTemplate['classTime']}">
        <input type="hidden" name="typeId" id="typeId" value="{$courseTemplate['typeId']}">
    </form>
</div>

<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>

<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('content');
</script>


<script type="text/javascript">

    $('#money').on('blur', function () {
        var money = $(this).val();
        var myreg = /^[1-9]\d*$/;
        if (!myreg.test(money)) {
            layer.msg('价格大于0且为正整数!')
        }
    });

    $('#startAge,#endAge').on('blur', function () {
        var age = $(this).val();
        var myreg = /^[0-9]\d*$/;
        var myreg2 = /^[0-9]+(.[0-9]{1})?$/;
        if (!myreg.test(age) && !myreg2.test(age)) {
            layer.msg('年龄大于等于0且最多保留以为小数! 例: 1、1.5');
            return false;
        }
    });

    $('#btnGoBack').on('click', function () {
        layer.confirm('确认返回？', {
            title: '提示',
            btn: ['确认', '取消'],
            icon: 0
        }, function () {
            history.go(-1);
        }, function () {
            layer.msg('操作已取消!', {time: 1000});
        });
    });

    $('#btnSaveInfo').on('click', function () {
        layer.confirm('确认提交？', {
            title: '提示',
            btn: ['确认', '取消'],
            icon: 0
        }, function () {

            var name = $('#name').val();
            var money = $('#money').val();
            var startAge = $('#startAge').val();
            var endAge = $('#endAge').val();
            var schoolId = $('#schoolId').val();
            var content = ue.getContent('content');

            var listImg = $('#listImg').val();
            var topImg = $('#topImg').val();

            if (name.replace('/[]/g', ' ').length == 0 || !name) {
                layer.msg('请填写课程名称!', {time: 1000});
                return false;
            }

            if (money.replace('/[]/g', ' ').length == 0 || !money) {
                layer.msg('请填写价格!', {time: 1000});
                return false;
            }

            var myreg = /^[0-9]\d*$/;
            var myreg2 = /^[0-9]+(.[0-9]{1})?$/;
            if (startAge.replace('/[]/g', ' ').length == 0 || !startAge) {
                layer.msg('请填写开始年龄!', {time: 1000});
                return false;
            }
            if (!myreg.test(startAge) && !myreg2.test(startAge)) {
                layer.msg('开始年龄大于等于0且最多保留以为小数! 例: 1、1.5');
                return false;
            }

            if (endAge.replace('/[]/g', ' ').length == 0 || !endAge) {
                layer.msg('请填写结束年龄!', {time: 1000});
                return false;
            }
            if (!myreg.test(endAge) && !myreg2.test(endAge)) {
                layer.msg('结束年龄大于等于0且最多保留以为小数! 例: 1、1.5');
                return false;
            }

            if (parseInt(startAge) > parseInt(endAge)) {
                layer.msg('开始年龄不能大于结束年龄!', {time: 1000});
                return false;
            }

            if (schoolId.replace('/[]/g', ' ').length == 0 || !schoolId || schoolId == 0) {
                layer.msg('请选择校区!', {time: 1000});
                return false;
            }

            if (listImg.replace('/[]/g', ' ').length == 0 || !listImg) {
                layer.msg('请上传列表图片!', {time: 1000});
                return false;
            }

            if (topImg.replace('/[]/g', ' ').length == 0 || !topImg) {
                layer.msg('请上传顶部图片!', {time: 1000});
                return false;
            }

            if (content.replace('/[]/g', ' ').length == 0 || !content) {
                layer.msg('请填课程详情!', {time: 1000});
                return false;
            }

            $('#formSchoolAdd').submit();
        }, function () {
            layer.msg('操作已取消!', {time: 1000});
        });
    });

    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    $('#listImg').change(function () {
        var objUrl = getObjectURL(this.files[0]);
        if (objUrl) {
            $("#listImgUrl").attr("src", objUrl);
            $("#listImgUrl").show();
        }
    });

    $('#topImg').change(function () {
        var objUrl = getObjectURL(this.files[0]);
        if (objUrl) {
            $("#topImgUrl").attr("src", objUrl);
            $("#topImgUrl").show();
        }
    });
</script>

</body>
</html>