<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>课程修改</title>

    <style>
        .layui-layer-btn0 {
            background-color: red !important;
            border-color: red !important;
            color: #fff;
        }

        #allmap {
            width: 100%;
            height: 350px;
        }

        #mapSure {
            position: absolute;
            right: 5px;
        }
    </style>
</head>

<body>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 课程管理
    <span class="c-gray en">&gt;</span> 课程修改
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">
    <form class="form form-horizontal" id="formSchoolAdd" method="post" enctype="multipart/form-data"
          action="/shop/Course/courseEditSave?id={$Think.get.id}">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程名称：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data['name']}" placeholder="" id="name"
                       name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课时：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data['classTime']}" placeholder="" id="classTime"
                       name="classTime">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                价格：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data['money']}" placeholder="" id="money"
                       name="money">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程类型：
            </label>

            <div class="formControls col-xs-4 col-sm-3">
				<span class="select-box">
				<select id="typelevel1" name="typelevel1" class="select">
					<option value="0">选择类型</option>
                    {volist name="typeLevel1" id="vo"}
					    <option value="{$vo.id}" {if condition="($vo['id'] == $data['realTypeLevel1Id'])" } selected {/if}>{$vo.name}</option>
                    {/volist}
				</select>
				</span>
            </div>

            <div class="formControls col-xs-4 col-sm-3">
				<span class="select-box">
				<select id="typelevel2" name="typelevel2" class="select">
					{volist name="typeLevel2" id="vo"}
					    <option value="{$vo.id}" {if condition="($vo['id'] == $data['typeId'])" } selected {/if}>{$vo.name}</option>
                    {/volist}
				</select>
				</span>
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程图片：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <img style="width: 200px;height: 200px;" src="{$Think.config.imgUrl}{$data['img']}" alt="" class="thumbnail" id="imgUrl">

                <span class="btn-upload">
                    <a href="javascript:void(0);" class="btn btn-primary-outline radius">选择图片</a>
                    <input type="file" name="img" class="input-file" id="img" value="{$data['img']}">
                </span>
                <span style="color: #ff0000;">&nbsp;&nbsp;推荐尺寸: 1125*528</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                课程详情：
            </label>

            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="content" id="content" cols="30" rows="10">{$data['content']}</textarea>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button id="btnSaveInfo" class="btn btn-primary radius" type="button">
                    <!--<i class="Hui-iconfont">&#xe632;</i>--> &nbsp;&nbsp;保存&nbsp;&nbsp;
                </button>
                &nbsp;
                <button id="btnGoBack" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;返回&nbsp;&nbsp;
                </button>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>

<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('content');
</script>


<script type="text/javascript">

    $('#money').on('blur', function () {
        var money = $(this).val();
        var myreg = /^[1-9]\d*$/;
        if (!myreg.test(money)) {
            layer.msg('价格大于0且为正整数!')
        }
    });

    $('#btnGoBack').on('click', function () {
        layer.confirm('确认返回？', {
            title: '提示',
            btn: ['确认', '取消'],
            icon: 0
        }, function () {
            history.go(-1);
        }, function () {
            layer.msg('操作已取消!', {time: 1000});
        });
    });

    $('#typelevel1').on('change', function () {
        var typeId = $('#typelevel1').find('option:selected').val();

        if (typeId == 0) {
            $('#typelevel2').html('<option value="0">选择子类</option>');
            return false;
        }

        $.post('/shop/Course/courseTypeLevel2', {typeId: typeId}, function (res) {
            console.log(res);
            if (res.status == 'ok') {
                var _htmlType = '<option value="0">选择子类</option>';
                $.each(res.data, function (k, v) {
                    _htmlType += '<option value="' + v.id + '">' + v.name + '</option>';
                });
                $('#typelevel2').html(_htmlType);
            } else {
                layer.msg('数据异常!');
            }
        }, 'json');
    });

    $('#btnSaveInfo').on('click', function () {
        layer.confirm('确认提交？', {
            title: '提示',
            btn: ['确认', '取消'],
            icon: 0
        }, function () {

            var name = $('#name').val();
            var classTime = $('#classTime').val();
            var money = $('#money').val();
            var typeId = $('#typelevel2').val();
            var content = ue.getContent('content');

            //var img = $('#img').val();

            if (name.replace('/[]/g', ' ').length == 0 || !name) {
                layer.msg('请填写课程名称!', {time: 1000});
                return false;
            }

            if (classTime.replace('/[]/g', ' ').length == 0 || !classTime) {
                layer.msg('请填写课时!', {time: 1000});
                return false;
            }

            if (money.replace('/[]/g', ' ').length == 0 || !money) {
                layer.msg('请填写价格!', {time: 1000});
                return false;
            }

            if (typeId.replace('/[]/g', ' ').length == 0 || !typeId || typeId == 0) {
                layer.msg('请选择课程类型!', {time: 1000});
                return false;
            }
/*
            if (img.replace('/[]/g', ' ').length == 0 || !img) {
                layer.msg('请上传校区图片!', {time: 1000});
                return false;
            }
*/
            if (content.replace('/[]/g', ' ').length == 0 || !content) {
                layer.msg('请填课程详情!', {time: 1000});
                return false;
            }

            $('#formSchoolAdd').submit();
        }, function () {
            layer.msg('操作已取消!', {time: 1000});
        });
    });

    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    $('#img').change(function () {
        var objUrl = getObjectURL(this.files[0]);
        if (objUrl) {
            $("#imgUrl").attr("src", objUrl);
            $("#imgUrl").show();
        }
    });
</script>

</body>
</html>