{extend name="layout" /}
{block name="css"}
<style type="text/css">
/*分页样式*/  
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>品牌管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
   商户管理
	<span class="c-gray en">&gt;</span>
	品牌管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
        <input type="text" name="" id="brandsName" placeholder="品牌名称" style="width:250px" class="input-text"
               value="{if(isset($brandsName))}{$brandsName}{/if}">
        <button name="" id="button" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
        </button>
    </div>
	{in name='1' value='$actionType'}
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="{:url('admin/Brand/add')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加品牌</a></span><span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></div>{/in}
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="70">序号</th>
					<th width="80">排序</th>
					<th width="200">LOGO</th>
					<th width="120">品牌名称</th>
					<th width="100">商户数</th>
					<th width="100">校区数</th>
					<th width="100">课程数</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo" key='k'}
				<tr class="text-c">
					<td>{$k}</td>
					<td>{$vo.sort}</td>
					<td><img src="{$Think.config.imgUrl}{$vo.smallImg}" width='50px' height='50px'></td>
					<td class="text-l">{$vo.name}</td>
					<td class="text-c">{$vo.shopNum}</td>
					<td class="text-c">{$vo.schoolNum}</td>
					<td class="text-c">{$vo.classNum}</td>
					<td class="f-14 product-brand-manage">
					{in name='2' value='$actionType'}
					<a style="text-decoration:none"  href="{:url('admin/Brand/edit',['id'=>$vo['id']])}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
					{/in}{in name='3' value='$actionType'}
					<a style="text-decoration:none" class="ml-5" href="{:url('admin/Brand/del',['id'=>$vo['id']])}" onclick="return confirm('删除须谨慎，确认要删除吗？')" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>{/in}</td>
				</tr>
				{/volist}
				{else /}
			    <tr class="text-c">
			        <td colspan="8">暂无数据</td>
			    </tr>
			    {/if}
				<tr class="text-c">
					<td colspan="8" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('#button').click(function () {
        if ($('#brandsName').val() == '') {
        	layer.msg('请填写品牌名称!',{icon:2,time:2000});
            return false;
        }
        window.location.href = "/admin/Brand/index?brandsName=" + $('#brandsName').val()
    });
</script>
{/block}
</body>
</html>