<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>课程订单</title>

    <style>
        .layui-layer-btn0 {
            background-color: red !important;
            border-color: red !important;
            color: #fff;
        }
    </style>
</head>
<body>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 课程管理
    <span class="c-gray en">&gt;</span> 课程订单列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.href = '/admin/course/courseOrder';" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">
    {if condition="$data['data']"}

    <div class="text-c">
        <input type="text" name="searchData" id="searchData" placeholder="订单号或手机号" style="width:250px"
               class="input-text"
               value="{if(isset($orderNo))}{$orderNo}{/if}{if($phone)}{$phone}{/if}">
        <button name="" id="btnSearch" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
        </button>
    </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-admin">
            <thead>
            <tr>
                <!--<th scope="col" colspan="11">课程订单列表</th>-->
                <!--<span class="r">共有数据：<strong>{$data['total']}</strong> 条</span>-->
                <div class="cl pd-5 bg-1 bk-gray mt-20">
                    <span class="l">
                        课程订单列表
                    </span>
                    <span class="r">
                        共有数据：<strong>{$data['total']}</strong> 条
                    </span>
                </div>
            </tr>
            <tr class="text-c">
                <th width="20">ID</th>
                <th width="20">用户名</th>
                <th width="20">手机号</th>
                <th width="20">名称</th>
                <th width="30">订单号</th>
                <th width="20">金额/元</th>
                <th width="20">
                    <select name="" id="statusSelect" class="select" size="1">
                        <option value="-1">选择支付状态</option>
                        {volist name="orderStatus" id="vo"}
                        <option value="{$key}">{$vo}</option>
                        {/volist}
                    </select>
                </th>
                <th width="20">是否签约</th>
                <th width="20">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data['data']" id="vo" key="k"}
            <tr class="text-c">
                <td>{$k}</td>
                <td>{$vo.uName}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.name}</td>
                <td>{$vo.orderNo}</td>
                <td>{$vo.money}</td>
                <td>{$orderStatus[$vo.status]}</td>
                <td>{$signStatus[$vo.isSign]}</td>
                <td>
                    {if condition="($vo['status'] == 1 && $vo['isSign'] ==0)"}
                    <a href="javascript:;" title="退款" class="somePayback" va="{$vo.id}">
                        <i class="Hui-iconfont Hui-iconfont-chexiao f-16"></i>
                    </a>
                    {/if}
                </td>
            </tr>
            {/volist}

            {if condition="$page"}
            <tr class="text-c">
                <td colspan="11" style="text-align: center;">
                    {$page}
                </td>
            </tr>
            {/if}
            </tbody>
        </table>

    </div>

    {else /}
    <div style="width: 100%;text-align: center;font-size: 30px;">暂无数据</div>
    {/if}
</div>

<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script type="text/javascript">
    $('#btnSearch').on('click', function () {
        var orderNo = $('#searchData').val();
        if (!orderNo) {
            return false;
        }

        if (/^1(3|4|5|6|7|8|9)\d{9}$/.test(orderNo)) {
            window.location.href = '/admin/course/courseOrder?phone=' + orderNo;
        } else {
            window.location.href = '/admin/course/courseOrder?orderNo=' + orderNo;
        }
    });
    
    $('#statusSelect').change(function () {
        var st = $('#statusSelect').val(

        );
        if(st == -1){
            return false;
        }else{
            window.location.href = '/admin/course/courseOrder?status=' + st;
        }
    });

    $('.somePayback').on('click',function () {
        var id = $(this).attr('va');
        if(!id){
            return false;
        }

        $.post('/admin/Course/getCourseBackMoney',{id: id},function (res) {

            if(res.status == 'ok') {
                var _html = '<div style="margin: 15px;">'
                    + '<label for="backMoney" style="font-weight: bold;">退款金额:</label>'
                    + '<input id="backMoney" class="input-text radius size-M" type="text" name="backMoney" value="" placeholder="">'
                    + '<br>'
                    + '<span><small style="color: #FF0000;">最大退款金额: </small>'+res.data.money+' - '+res.data.userMoney+' = '+(res.data.money - res.data.userMoney)+'元</span>'
                    + '<input type="hidden" id="miniBackMoney" name="miniBackMoney" value="'+(res.data.money - res.data.userMoney)+'">'
                    + '<br>'
                    + '<br>'
                    + '<label for="backReason" style="font-weight: bold;">退款说明:</label>'
                    + '<textarea id="backReason" name="backReason" cols="" rows="" class="textarea radius" placeholder="退款说明"></textarea>'
                    + '<br>'
                    + '<br>'
                    + '<input id="someSave" class="btn radius btn-warning" type="button" value="确认" style="position: absolute;right: 15px;bottom: 10px;width: 5em;">'
                    + '</div>';

                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim',
                    area: ['450px', '330px'],
                    content: _html
                });

                $('#someSave').on('click',function () {
                    var backMoney = $('#backMoney').val();
                    var miniBackMoney = $('#miniBackMoney').val();
                    var backReason = $('#backReason').val();
                    if(backMoney <= 0){
                        layer.msg('请填写实际退款金额!');
                        return false;
                    }
                    if(backMoney > miniBackMoney){
                        layer.msg('实际退款金额不能大于应退款金额!');
                        return false;
                    }
                    if(!backReason){
                        layer.msg('请填写退款说明!');
                        return false;
                    }

                    $.post('/admin/Course/courseBackApply',{id: id,backMoney: backMoney,backReason: backReason},function (res) {
                        if(res.status == 'ok'){
                            layer.msg('操作成功!');
                            setTimeout(function () {
                                window.location.reload();
                            },500);
                        }else{
                            layer.msg('操作异常!');
                            return false;
                        }
                    },'json');

                });
            }else{
                layer.msg('操作异常!');
            }
        },'json');
    });
</script>

</body>
</html>