{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>用户星星活动</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 星星灯管理 <span class="c-gray en">&gt;</span> 用户星星活动 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
        <input type="text" name="" id="userPhone" placeholder="手机号" style="width:250px" class="input-text"
               value="{if(isset($phone))}{$phone}{/if}">
        <button name="" id="searchButton" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
        </button>
    </div>
   <div class="mt-20">
	<table class="table table-border table-bordered table-bg table-admin">
		<thead>
			<tr>
				<th colspan="9">
				<span class="r">共有数据：<strong>{$lists['total']}</strong> 条</span></th>
			</tr>
			<tr class="text-c">	
				<th width="40">序号</th>
				<th width="80">用户</th>
				<th width="100">手机号</th>
				<th width="100">成为分享人时间</th>			
                <th width="90">收集星星数</th>           
                <th width="50">第几轮</th>           
                <th width="100">活动开始时间</th>           
                <th width="70">上轮活动</th>
                <th width="100">活动详情</th>           
			</tr>
		</thead>
		<tbody>
   		{if($lists['data'])}{volist name="lists.data" id="vo" key="k"}
		<tr class="text-c">	   			
   			<td>{$k}</td>
			<td>{$vo.userName}</td>
            <td>{$vo.userPhone}</td>            
            <td>{notempty name="vo.shareTime"}{$vo.shareTime|date='Y-m-d H:i:s',###}{/notempty}</td>          
            <td>{$vo.starNum|default=''}</td>          
            <td>{$vo.starRound}</td>
            <td>{notempty name="vo.createTime"}{$vo.createTime|date='Y-m-d H:i:s',###}{/notempty}</td>         
            <td>{gt name="vo.starRound" value="1"}<a style="text-decoration:none"  class="starLastActivity" href="javascript:;" vau="{$vo['userId']}" var="{$vo['starRound']}" title="上轮活动详情"><i class="Hui-iconfont">&#xe715;</i></a>{else/}/{/gt}
            </td>
            <td><a style="text-decoration:none" href="{:url('admin/Star/info',['userId'=>$vo['userId']])}" title="活动详情"><i class="Hui-iconfont">&#xe720;</i></a></td>			
		</tr>
	   {/volist}
	   {else /}
        <tr class="text-c">
            <td colspan="9">暂无数据</td>
        </tr>
        {/if}
        <tr class="text-c">
            <td colspan="9" style="text-align: center">{$page}</td>
        </tr>
		</tbody>
	</table>
  </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	$('#searchButton').click(function () {
   		var phone = $("#userPhone").val();
		var mobile = /^1[345789]{1}\d{9}$/;
        if (phone == '') {
	     	layer.msg('手机号必填!',{icon:2,time:2000});
            return false;
        }        
	  if(phone.length!=11 || !mobile.test(phone)){	  	
	     layer.msg('请填写正确手机号!',{icon:2,time:2000});
	     return false;
	  }
        window.location.href= "/admin/Star/activity?phone=" + $('#userPhone').val();
    });

    $(".starLastActivity").on('click',function(){
        var userId=$(this).attr('vau');
        var round=$(this).attr('var');        
        $.post("/admin/Star/lastActivity",{userId:userId,round:round},function(res){
            if(res.status=='ok'){                
                layer.alert('上轮活动剩余星星数：'+res.data.starNum+'<br/><font color="red">'+res.data.status+'</font>');
            }else{
                layer.alert(res.data);
            }
        })
    })
</script>
{/block}
</body>
</html>