{extend name="layout" /}
{block name="css"}
<style type="text/css">
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>账单明细</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    财务管理
	 <span class="c-gray en">&gt;</span>
    财务概况
	<span class="c-gray en">&gt;</span>
	<a href="{:url('admin/Finance/adviserMoney')}">顾问销售额管理</a>
	<span class="c-gray en">&gt;</span>
	账单明细
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="/admin/Finance/adviserMoney" class="btn btn-success radius" type="button"> 返回</a> </span><span class="r"></span></div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
			<tr>
				<th colspan="8"><span class="l"><h5>优选课程</h5></span>
				<span class="r" style="margin-top:10px">共有数据：<strong>{$lists['total']}</strong> 条</span></th>
			</tr>
				<tr class="text-c">
					<th width="40">序号</th>
					<th width="100">用户</th>
					<th width="100">手机号</th>
					<th width="130">订单号</th>
					<th width="130">课程名称</th>
					<th width="80">订单金额</th>
					<th width="100">
						<select id="userStatus" style='border:0;background:#f5fafe none repeat scroll 0 0;'>          
			                    {foreach $userStatus as $k=>$v}
			                    <option value="{$k}" {if condition="$k==$status"}selected='selected'{/if}>{$v}</option>
			                    {/foreach}
			            </select>
					</th>
					<th width="110">签约时间</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo" key='k'}
				<tr class="text-c">
					<td>{$k}</td>
					<td>{$vo.userName}</td>
					<td>{$vo.userPhone}</td>
					<td>{$vo.orderNo}</td>
					<td>{$vo.name}</td>
					<td>{$vo.money}</td>
					<td>{if condition="$vo.isOldCustom==1"}老用户{else /}新用户{/if}</td>
					<td>{$vo.signDate|date="Y-m-d H:i",###}</td>
				</tr>
				{/volist}
				{else /}
                <tr class="text-c">
                    <td colspan="8">暂无数据</td>
                </tr>
                {/if}
				<tr class="text-c">
					<td colspan="8" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-border table-bordered table-bg table-admin mt-40">
		<thead>
			<tr>
				<th colspan="8"><span class="l"><h5>万人砍课程</h5></span>
				<span class="r" style="margin-top:10px">共有数据：<strong>{$lists1['total']}</strong> 条</span></th>
			</tr>
			<tr class="text-c">
				<th width="40">序号</th>
				<th width="100">用户</th>
				<th width="100">手机号</th>
				<th width="100">活动名称</th>
				<th width="140">订单号</th>
				<th width="100">订单金额</th>
				<th width="100">签约时间</th>
			</tr>
		</thead>
		<tbody>
   		{if($lists1['data'])}{volist name="lists1.data" id="vo" key='k'}
		<tr class="text-c">
			<td>{$k}</td>
   			<td>{$vo.userName}</td>
			<td>{$vo.userPhone}</td>
			<td>{$vo.activityName}</td>
			<td>{$vo.orderNo}</td>
			<td>{$vo.money}</td>
			<td>{$vo.signTime|date="Y-m-d H:i",###}</td>
		</tr>
	   {/volist}
	   {else /}
        <tr class="text-c">
            <td colspan="8">暂无数据</td>
        </tr>
        {/if}
        <tr class="text-c">
            <td colspan="8" style="text-align: center">{$page1}</td>
        </tr>
		</tbody>
	</table>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	 
    $('#userStatus').on('change',function(){
    	var _status = $(this).val();    	
        window.location.href =(location.href.split('?'))[0]+"?status=" + _status;
    })
    
    

</script>
{/block}
</body>
</html>