{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>顾问财务管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    财务管理
	<span class="c-gray en">&gt;</span>
	财务概况
	<span class="c-gray en">&gt;</span>
	顾问财务管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr >
					<th colspan="7" class="text-l">
						<input type="text" name="" id="adviserPhone" placeholder="手机号" style="width:200px" class="input-text" value="{if(isset($data.phone))}{$data.phone}{/if}">
					    <button name="" id="adviserButton" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
					    </button>
					   <span class="r">
					   		共有数据：<strong>{$lists['total']}</strong> 条
					   </span>
				   </th>
				</tr>
				<tr class="text-c">
					<th width="60">序号</th>
					<th width="100">顾问姓名</th>
					<th width="120">手机号</th>
					<th width="100">
						<select id="shopId" style='border:0;background:#f5fafe none repeat scroll 0 0;'>
			                    <option value="0">所属商户</option>
			                    {foreach $shops as $v}
			                    <option value="{$v.id}" {if condition="$v.id==$data.shopId"}selected='selected'{/if}>{$v.name}</option>
			                    {/foreach}
			            </select>
					</th>
					<th width="100">
						<select id="schoolId" style='border:0;background:#f5fafe none repeat scroll 0 0;'>
			                    <option value="0">所属校区</option>
			                    {foreach $schools as $v}
			                    <option value="{$v.id}" {if condition="$v.id==$data.schoolId"}selected='selected'{/if}>{$v.name}</option>
			                    {/foreach}
			            </select>
					</th>
					<th width="80">总收入</th>
					<!-- <th width="80">修改时间</th> -->
					<th width="80">实际收入</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo" key='k'}
				<tr class="text-c">
					<td>{$k}</td>
					<td>{$vo.name}</td>
					<td>{$vo.phone}</td>
					<td>{$vo.shopName}</td>
					<td>{$vo.schoolName}</td>
					<td>{$vo.allMoney}</td>		
					<!-- <td>{if condition="$vo.updateTime>1000"}{$vo.updateTime|date='Y-m-d H:i:s',###}{else /}/{/if}</td> -->		
					<td>{if condition="$vo.updateTime>1000"}<i class="Hui-iconfont" style="cursor:pointer" onclick="adviserNewMoney('{$vo.userId}','{$vo.updateTime}')">&#xe715;</i>{else /}/{/if}</td>		
				</tr>
				{/volist}
				{else /}
                <tr class="text-c">
                    <td colspan="7">暂无数据</td>
                </tr>
                {/if}
				<tr class="text-c">
					<td colspan="7" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('#adviserButton').click(function () {
        var phone = $("#adviserPhone").val();
		var mobile = /^1[345789]{1}\d{9}$/;
        if (phone == '') {
	     	layer.msg('手机号必填!',{icon:2,time:2000});
            return false;
        }        
	  if(phone.length!=11 || !mobile.test(phone)){	  	
	     layer.msg('请填写正确手机号!',{icon:2,time:2000});
	     return false;
	  }
        urlShow();
    });
    $('#shopId,#schoolId').on('change',function(){
        urlShow();
    })
    function urlShow(){
       window.location.href = "/admin/Finance/adviser?phone=" + $('#adviserPhone').val()+'&shopId='+$('#shopId').val()+'&schoolId='+$('#schoolId').val();
    }
    function adviserNewMoney(userId,updateTime) {
    	$.post('/admin/Finance/adviserNewMoney',{userId:userId,updateTime:updateTime},function(res){
    			layer.alert(res.time+' 成为顾问<br/>'+'实际收入为：'+res.money+'元');
    	}) 	
    }
</script>
{/block}
</body>
</html>