{extend name="layout" /}
{block name="css"}
<style type="text/css"> 
.pagination{
    list-style-type: none;
    display: inline-block;
    overflow: auto;
}
.pagination li{
    float: left;
    /*padding: 6px 12px;*/
    border:1px solid #e1e2e3;
    margin: 3px;
}
.pagination li a,.pagination li span{
    display: inline-block;
    padding: 6px 12px;
}
.pagination li:hover{
    border:1px solid #38f;
    background: #f2f8ff;
}
.pagination .active{
    border:1px solid #38f;
}
</style>
{/block}
{block name="body"}
<title>商户校区财务管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
    财务管理
	<span class="c-gray en">&gt;</span>
	财务概况
	<span class="c-gray en">&gt;</span>
	商户校区财务管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace((location.href.split('?'))[0]);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
        <input type="text" name="" id="shopName" placeholder="商户名" style="width:200px" class="input-text" value="{if(isset($shopName))}{$shopName}{/if}">
	    <button name="" id="shopFinanceButton" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索
	    </button>
    </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr >
					<th colspan="6" class="text-r">
					   	共有数据：<strong>{$lists['total']}</strong> 条
				   </th>
				</tr>
				<tr class="text-c">
					<th width="60">序号</th>
					<th >商户</th>
					<th width="100">总收入</th>
					<th width="100">已付账款</th>
					<th width="100">商户余额</th>
					<th width="80">详情</th>
				</tr>
			</thead>
			<tbody>
			{if($lists['data'])}{volist name="lists.data" id="vo" key='k'}
				<tr class="text-c">
					<td>{$k}</td>
					<td>{$vo.name}</td>
					<td>{$vo.tiXianMoney+$vo.yuEMoney}</td>
					<td>{$vo.tiXianMoney}</td>		
					<td>{$vo.yuEMoney}</td>
					<td><a style="text-decoration:none"  href="{:url('admin/Finance/shopBill',['id'=>$vo['id']])}" title="账单详情"><i class="Hui-iconfont">&#xe63a;</i></a></td>		
				</tr>
				{/volist}
				{else /}
                <tr class="text-c">
                    <td colspan="6">暂无数据</td>
                </tr>
                {/if}
				<tr class="text-c">
					<td colspan="6" style="text-align: center;">
					{$page}
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('#shopFinanceButton').click(function () {
        if ($('#shopName').val() == '') {
        	layer.msg('请填写商户名!',{icon:2,time:2000});
            return false;
        }
        window.location.href = "/admin/Finance/index?shopName=" + $('#shopName').val()
    });
</script>
{/block}
</body>
</html>