<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>VIP权益管理</title>

    <style>
        .layui-layer-btn0 {
            background-color: red !important;
            border-color: red !important;
            color: #fff;
        }
    </style>
</head>
<body>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> VIP管理
    <span class="c-gray en">&gt;</span> VIP权益管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <a href="{:url('admin/Vip/vipRightsAdd')}" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加VIP权益说明
            </a>
        </span>
    </div>

    {if condition="($data)"}
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-admin">
            <thead>
            <tr>
                <th scope="col" colspan="8">VIP权益管理</th>
            </tr>
            <tr class="text-c">
                <th width="20">序号</th>
                <th width="20">名称</th>
                <th width="20">图片</th>
                <th width="20">说明</th>
                <th width="20">创建时间</th>
                <th width="20">操作</th>
            </tr>
            </thead>

            <tbody>
            {volist name="data" id="vo" key="k"}
            <tr class="text-c">
                <td>{$k}</td>
                <td>{$vo['name']}</td>
                <td>
                    <img src="{$Think.config.imgUrl}{$vo['vipIco']}" alt="图片" style="width: 50px;">
                </td>
                <td>{$vo['text']}</td>
                <td>{$vo['createTime']|date='Y-m-d',###}</td>

                <td>
                    <a href="javascript:;" title="编辑" class="vipRightsEdit" va="{$vo.id}">
                        <i class="Hui-iconfont Hui-iconfont-edit"></i>
                    </a>
                    <span>&nbsp;&nbsp;</span>
                    <a href="javascript:;" title="删除" class="vipRightsDel" va="{$vo.id}">
                        <i class="Hui-iconfont Hui-iconfont-del3"></i>
                    </a>
                </td>
            </tr>
            {/volist}
            </tbody>

        </table>
    </div>

    {else /}
    <div style="width: 100%;text-align: center;font-size: 30px;color: #d1d1d1;">暂无数据</div>
    {/if}
</div>

<script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script type="text/javascript">
    $('.vipRightsEdit').click(function () {
        var id = $(this).attr('va');
        if(!id){
            return false;
        }
        window.location.href = '/admin/Vip/vipRightsEdit?id=' + id;
    });

    $('.vipRightsDel').click(function () {
        var id = $(this).attr('va');
        if(!id){
            return false;
        }
        var t = $(this);
        $.post('/admin/Vip/vipRightsDelete',{id: id},function (res) {
            if(res.status == 'ok'){
                layer.msg('操作成功!');
                t.parent().parent().hide();
            }else{
                layer.msg('操作失败!');
            }
        },'json');
    });
</script>

</body>
</html>