{extend name="layout" /}
{block name="css"}
<style type="text/css">
    .pagination {
        list-style-type: none;
        display: inline-block;
        overflow: auto;
    }

    .pagination li {
        float: left;
        /*padding: 6px 12px;*/
        border: 1px solid #e1e2e3;
        margin: 3px;
    }

    .pagination li a, .pagination li span {
        display: inline-block;
        padding: 6px 12px;
    }

    .pagination li:hover {
        border: 1px solid #38f;
        background: #f2f8ff;
    }

    .pagination .active {
        border: 1px solid #38f;
    }
</style>
{/block}
{block name="body"}
<title>妈妈约详情</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 妈妈约管理 <span
        class="c-gray en">&gt;</span> 妈妈约详情 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:window.location.href = '/admin/MumDate/mumDateDetail?id={$Think.get.id}';"
                                              title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-10" style="height: 2em;line-height: 2em;">
        <span class="l">妈妈约详情</span>
        <span class="r">
            <input id="btnBack" class="btn btn-primary radius" type="button" value="返回">
        </span>
    </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-striped radius">
            <tbody>
            {if condition="($data)"}
            <tr>
                <td width="20%" class="text-r">活动名称</td>
                <td class="text-l">{$data['name']}</td>
            </tr>
            <tr>
                <td width="20%" class="text-r">发起人</td>
                <td class="text-l">{$data['uName']}</td>
            </tr>
            <tr>
                <td class="text-r">手机</td>
                <td class="text-l">{$data['phone']}</td>
            </tr>
            <tr>
                <td class="text-r">活动地点</td>
                <td class="text-l">{$data['address']}</td>
            </tr>
            <tr>
                <td class="text-r">创建时间</td>
                <td class="text-l">{$data['createTime']|date='Y-m-d H:i:s',###}</td>
            </tr>
            <tr>
                <td class="text-r">活动时间</td>
                <td class="text-l">{$data['dateTime']|date='Y-m-d H:i:s',###}</td>
            </tr>

            <tr>
                <td class="text-r">已报名人数</td>
                <td class="text-l">{$data['winNum']}</td>
            </tr>
            <tr>
                <td class="text-r">是否需要赞助</td>
                <td class="text-l">
                	{if condition="($data['isSponsor'] == 1)"}
                	是
                	{else /}
                	否
                	{/if}
                </td>
            </tr>
            <tr>
                <td class="text-r">赞助类型</td>
                <td class="text-l">
                	{$supportType[$data['isSponsor']]}
                </td>
            </tr>
            <tr>
                <td class="text-r">最大人数</td>
                <td class="text-l">
                	{$data['peopleNum']}
                </td>
            </tr>

            <tr>
                <td class="text-r">最小年龄</td>
                <td class="text-l">
                	{$data['minAge']}
                </td>
            </tr>
            <tr>
                <td class="text-r">最大年龄</td>
                <td class="text-l">
                	{$data['maxAge']}
                </td>
            </tr>
            <tr>
                <td class="text-r">图片</td>
                <td class="text-l">
                	<img src="{$Think.config.imgUrl}{$data['img']}" alt="活动图片" style="width: 300px;">
                </td>
            </tr>
            <tr>
                <td class="text-r">活动说明</td>
                <td class="text-l">
                    {$data['introduct']}
                </td>
            </tr>
            <tr>
                <td class="text-r">活动状态</td>
                <td class="text-l">
                    {$status[$data['status']]}
                </td>
            </tr>

            {else /}
            <tr class="text-c">
                <td colspan="11">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>
    </div>

    <input type="hidden" id="uid" value="{$Think.get.id}" name="uid">
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('#btnBack').on('click',function () {
        window.history.go(-1);
    });
</script>
{/block}
</body>
</html>