{extend name="layout" /}
{block name="css"}
<style type="text/css">
    .pagination {
        list-style-type: none;
        display: inline-block;
        overflow: auto;
    }

    .pagination li {
        float: left;
        /*padding: 6px 12px;*/
        border: 1px solid #e1e2e3;
        margin: 3px;
    }

    .pagination li a, .pagination li span {
        display: inline-block;
        padding: 6px 12px;
    }

    .pagination li:hover {
        border: 1px solid #38f;
        background: #f2f8ff;
    }

    .pagination .active {
        border: 1px solid #38f;
    }
</style>
{/block}
{block name="body"}
<title>会员团购订单列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span
        class="c-gray en">&gt;</span> 会员团购订单列表 <a class="btn btn-success radius r"
                                                  style="line-height:1.6em;margin-top:3px"
                                                  href="javascript:window.location.href = '/admin/Member/memberGroupBuy?id={$Think.get.id}';"
                                                  title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20" style="height: 2em;line-height: 2em;">
        <span class="l">
            <input id="btnBack" class="btn btn-primary radius" type="button" value="返回">
        </span>
        <span class="r">共有数据：<strong>{$info['total']}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-admin">
            <thead>
            <tr class="text-c">
                <th width="10">序号</th>
                <th width="30">品牌</th>
                <th width="20">商户</th>
                <th width="10">课程名称</th>
                <th width="20">创建时间</th>
                <th width="20">使用时间</th>
                <th width="20">状态</th>
            </tr>
            </thead>
            <tbody>
            {if($info['data'])}
            {volist name="data" id="vo" key="k"}
            <tr class="text-c">
                <td>{$k}</td>
                <td>{$vo.brandName}</td>
                <td>{$vo.shopName}</td>
                <td>{$vo.courseName}</td>
                <td>
                    {$vo['createTime']|date='Y-m-d H:i',###}
                </td>
                <td>
                    {if condition="($vo['useTime'])"}
                    {$vo['useTime']|date='Y-m-d H:i',###}
                    {/if}
                </td>
                <td>
                    {$status[$vo['status']]}
                </td>
            </tr>
            {/volist}
            {else /}
            <tr class="text-c">
                <td colspan="11">暂无数据</td>
            </tr>
            {/if}
            <tr class="text-c">
                <td colspan="11" style="text-align: center">{$pages}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $('#btnBack').on('click',function () {
        window.history.go(-1);
    });
</script>
{/block}
</body>
</html>